.container{
  position: fixed;
  padding-top: 120px;
  top: 0%;
  left: 0%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, .3);
  animation: containerAppear .3s forwards ease-in-out;
  width: 100vw;
  height: 100vh;
  z-index: 90;
}

@keyframes containerAppear {
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}

.contentContainer{
  display: flex;
}

.commentsContainerNoPicture{
  height: 275px;
  width: 400px;
  background-color: rgb(240, 240, 240);
  display: flex;
  flex-direction: column-reverse;
  align-items: flex-end;
  margin: 0 auto;
  overflow: hidden;
  border-radius: 0 10px 10px 0;
}

.commentsContainerPicture{
  height: 615px;
  width: 400px;
  background-color: rgb(240, 240, 240);
  display: flex;
  flex-direction: column-reverse;
  align-items: flex-end;
  margin: 0 auto;
  overflow: hidden;
  border-radius: 0 10px 10px 0;
}

.noCommentsAlert{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  font-family: 'Roboto', sans-serif;
  color: darkgray;
  cursor: default;
}

.commentsConainer{
  width: 100%;
  height: 100%;
}

.commentsConainer::-webkit-scrollbar {
  width: 10px;            
}

.commentsConainer::-webkit-scrollbar-thumb {
  background-color: #9442fe;  
  border-radius: 20px;  
}