.mainContainer{
  /* max-width: 1000px;
  margin: 0 auto; */
}

.userContainer{
  background: #3498DB /* linear-gradient(120deg, #9442fe, #3378ff ) */;
  height: 300px;
  margin-bottom: 7rem;
  position: relative;
}


.userInfoContainer{
  color: white;
  position: absolute;
  bottom: -180px;
  padding-top: 150px;
  display: flex;
  justify-content: center;
  gap: 1.5em;
  margin-bottom: 5em;
  padding: 0 3rem;
}

.userImageContainer{
  height:200px;
  width: 200px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
  border: inset 1px solid rgba(0, 0, 0, .3);
}

.userName{
  text-transform: capitalize;
  margin-bottom: .5em;
}

.userInfoItem{
  display: flex;
}

.userInfoItem div{
  margin-right: 1em;

}

.editProfileButton{
  width: 150px;
  height: 30px;
  border: none;
  font-weight: bold;
  color: white;
  margin-top: 1rem;
  background: linear-gradient(145deg, #3378ff, #9442fe);
  cursor: pointer;
  transition: .3s ease-in-out;
  border-radius: 5px;
}


.postsContainer{
  display: flex;
  margin: 0 auto;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}